<!DOCTYPE HTML>
<html lang="en">
<head>
    <%- include("head.ejs") %>
</head>
<body>

    <%- include("header.ejs") %>

    <%- include("settings.ejs") %> 

    <!--WRAP BODY--> 
    <div class="wrap">                     
        <!--NAV-->
        <div class="nav">     
            <div class="naw-wrap">

            </div>   
        </div>

        <!--EMPTY SIDE BLOKS-->
        <div class="out1"></div>
        <div class="out2"></div>
        <!--SIDE-INFO-->
        <div class="side">
            <%- include("info.ejs") %>
            <% if(permissEdit === 'true') {%>
            <div class="side_sub">  
                <p id="town"><%=name %></p>
            </div>
            <div class="side_sub">
            </div>
            <% } %>

        </div>
        <!--CONTENT-->
        <div class="article">    

        </div>
        <!--BLOK ON TOP FOOTER-->
        <div class="blok">
        </div>
        <!--FOOTER-->
        <div class="footer">
            <img src="">
        </div>
    </div>

    <%- include("footer.ejs") %>


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./js/service.js"></script>
    <script src="./js/view.js"></script>
    <script src="./js/controller.js"></script>

 

</body>
