<!DOCTYPE HTML>
<html lang="en">
<head>
    <%- include("./parts/head.ejs") %>
</head>
<body>
    <%- include("./parts/header.ejs") %>
    <%- include("./parts/settings.ejs") %> 
    <div class="wrap">  
        <div class="out1"></div>
        <div class="out2"></div>
        <div class="side">
            <%- include("./parts/info.ejs") %>

            <% if((permissEdit === 'true') && (vskillsme === 'on') && (vskillsmetop === 'off')) {%>
                <%- include("./parts/skillsside.ejs") %> 
            <% } %>
            <% if((permissEdit === 'false') && (vskillsall === 'on') && (vskillsalltop === 'off')) {%>
                <%- include("./parts/skillsside.ejs") %> 
            <% } %>

            <% if((permissEdit === 'true') && (vprojectsme === 'on') && (vprojectsmetop === 'off')) {%>
                <%- include("./parts/projectsside.ejs") %> 
            <% } %>
            <% if((permissEdit === 'false') && (vprojectsall === 'on') && (vprojectsalltop === 'off')) {%>
                <%- include("./parts/projectsside.ejs") %> 
            <% } %>
        </div>
        <div class="article">   
            <%- include("./parts/nav.ejs") %>  
            <%- include("./parts/article.ejs") %> 
        </div>
        <div class="blok">
            <%- include("./parts/ontopfooter.ejs") %>
        </div>       
    </div>
    <div class="footer-main-info">
        <%- include("./parts/footer.ejs") %>
    </div>
    
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./js/service.js"></script>
    <script src="./js/view.js"></script>
    <script src="./js/controller.js"></script>
    <script src="./js/skills.js"></script>
    <% if(permissEdit === 'true') {%>
        <script>
            SE.$("reg-file").addEventListener("change", () => {VW.updateAva()});
            SE.send({"userid":window.location.href}, '/showskills', WSKILLS.showSkillsList);
        </script>
    <% } %>
    <% if((permissEdit === 'false') && (vskillsall === 'on') && (vskillsalltop === 'off')) {%>
        <script>
            SE.send({"userid":window.location.href}, '/showskills', WSKILLS.showSkillsListForAll);
        </script>
    <% } %>
    <% if((permissEdit === 'false') && (vskillsall === 'off') && (vskillsalltop === 'on')) {%>
        <script>
            SE.send({"userid":window.location.href}, '/showskills', WSKILLS.showSkillsListForAll);
        </script>
    <% } %>

</body>
