<!DOCTYPE HTML>
<html lang="en">
<head>
    <%- include("./parts/head.ejs") %>
</head>
<body id="bodyy" onscroll="BLOG.scroll()">
    <%- include("./parts/header.ejs") %>

    <% if((permissAccess === 'true') && (activee === 'active')) {%>
        <%- include("./parts/messeger.ejs") %> 
        <%- include("./parts/messeger-write.ejs") %> 
    <% } %>

    <%- include("./parts/settings.ejs") %> 
    <div class="wrap">  
        <div class="out1"></div>
        <div class="out2"></div>
        <div class="side" id="side">
            <%- include("./parts/info.ejs") %>

            <% if((permissEdit === 'true') && (vfriendme === 'on')) {%>
                <%- include("./parts/friendside.ejs") %>
            <% } %>
            <% if((permissEdit === 'false') && (vfriendall === 'on')) {%>
                <%- include("./parts/friendside.ejs") %>
            <% } %>


            <% if((permissEdit === 'true') && (vskillsme === 'on') && (vskillsmetop === 'off')) {%>
                <%- include("./parts/skillsside.ejs") %> 
            <% } %>
            <% if((permissEdit === 'false') && (vskillsall === 'on') && (vskillsalltop === 'off')) {%>
                <%- include("./parts/skillsside.ejs") %> 
            <% } %>


            <% if((permissEdit === 'true') && (vprojectsme === 'on') && (vprojectsmetop === 'off')) {%>
                <%- include("./parts/projectsside.ejs") %> 
            <% } %>
            <% if((permissEdit === 'false') && (vprojectsall === 'on') && (vprojectsalltop === 'off')) {%>
                <%- include("./parts/projectsside.ejs") %> 
            <% } %>

            <div class="footer footer-main-info main-footer-small" id="footer-side">
                <%- include("./parts/footer2.ejs") %>
            </div>
            <div class="totop" id="totop" onclick="document.documentElement.scrollTop = 0">
                <i class='fas fa-chevron-up'></i>
                <i class='fas fa-chevron-up'></i>
                <i class='fas fa-angle-up'></i>
            </div>
        </div>
        <div class="content">   
            <%- include("./parts/nav.ejs") %>  
            <%- include("./parts/article.ejs") %> 
        </div>
        <div class="blok">
            <%- include("./parts/ontopfooter.ejs") %>
        </div>       
        <div class="footer footer-main-info main-footer-full">
            <%- include("./parts/footer.ejs") %>
        </div>
    </div>
    
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./js/message.js"></script>
    <script src="./js/checkinputs.js"></script>
    <script src="./js/service.js"></script>
    <script src="./js/view.js"></script>
    <script src="./js/controller-main.js"></script>
    <script src="./js/skills.js"></script>
    <script src="./js/projects.js"></script>
    <script src="./js/friends.js"></script>
    <script src="./js/ava.js"></script>
    <script src="./js/messager.js"></script>
    <script src="./js/blog.js"></script>

    <% if(permissEdit === 'true') {%>
        <script>
            // SE.$("reg-file").addEventListener("change", () => {VW.updateAva()});
            SE.send({"userid":window.location.href}, '/showprojects', WPROJ.showProjectsList);
            SE.send({"userid":window.location.href}, '/showskills', WSKILLS.showSkillsList);
            SE.$(`article-blog-wrap`).innerHTML = ``;
            BLOG.postList(`${window.location.pathname.replace(/[/]/gi, '')}`);
        </script>
    <% } %>

    <% if((permissAccess === 'true') && (permissEdit === 'false')) {%>
        <script>
            SE.$(`article-blog-wrap`).innerHTML = ``;
            BLOG.postList(`${window.location.pathname.replace(/[/]/gi, '')}`);
        </script>
    <% } %>

    <!--friends-for-all-->
    <% if((vfriendall === 'on') && (permissEdit === 'false')) {%>
        <script>
            SE.send({"type":"friend", "limit":20, "step":''}, '/showfriends', WFRIENDS.showFriends);
        </script>
    <% } %>

    <!--friends-for-me-->
    <% if((vfriendme === 'on') && (permissEdit === 'true')) {%>
        <script>
            SE.send({"type":"friend", "limit":20, "step":''}, '/showfriends', WFRIENDS.showFriends);
        </script>
        <% if(permissEdit === 'true') {%>            
            <script>
                SE.send({"type":"reqto", "limit":200, "step":''}, '/showfriends', WFRIENDS.showFriendsAdd);            
                SE.send({"type":"reqfrom", "limit":200, "step":''}, '/showfriends', WFRIENDS.showFriendsProof);            
            </script>
        <% } %>
    <% } %>
    

    <!--skills-->
    <% if((permissEdit === 'false') && (vskillsall === 'on') && (vskillsalltop === 'off')) {%>
        <script>
            SE.send({"userid":window.location.href}, '/showskills', WSKILLS.showSkillsListForAll);
            setTimeout(() => {
                for (let i = 1; i <= 10; i++){
                    if (SE.$(`skills-box${i}`)){
                        SE.$(`skills-box${i}`).style.backgroundColor = "#f1f1f1";
                    }
                }
            },500);
        </script>
    <% } %>
    <% if((permissEdit === 'false') && (vskillsall === 'off') && (vskillsalltop === 'on')) {%>
        <script>
            SE.send({"userid":window.location.href}, '/showskills', WSKILLS.showSkillsListForAll);
            setTimeout(() => {
                for (let i = 1; i <= 10; i++){
                    if (SE.$(`skills-box${i}`)){
                        SE.$(`skills-box${i}`).style.backgroundColor = "#ffffff";
                    }
                }
            },500);  
        </script>
    <% } %>

    <!--projects-->
    <% if((permissEdit === 'false') && (vprojectsall === 'on') && (vprojectsalltop === 'off')) {%>
        <script>
            SE.send({"userid":window.location.href}, '/showprojects', WPROJ.showProjectsListAll);
            setTimeout(() => {
                for (let i = 1; i <= 10; i++){
                    if (SE.$(`progects-boks${i}`)){
                        SE.$(`progects-boks${i}`).style.backgroundColor = "#f1f1f1";
                    }
                }
            },500);        
        </script>
    <% } %>
    <% if((permissEdit === 'false') && (vprojectsall === 'off') && (vprojectsalltop === 'on')) {%>
        <script>
            SE.send({"userid":window.location.href}, '/showprojects', WPROJ.showProjectsListAll);
            setTimeout(() => {
                for (let i = 1; i <= 10; i++){
                    if (SE.$(`progects-boks${i}`)){
                        SE.$(`progects-boks${i}`).style.backgroundColor = "#ffffff";
                    }
                }
            },500);   
        </script>
    <% } %>



</body>
