<!DOCTYPE HTML>
<html lang="en">
<head>
    <%- include("head.ejs") %>
</head>
<body>
    <% if(permissUserid !== '') {%>
        <script>       
            window.location.href = '<%=permissUserid %>';                   
        </script>
    <% } %>

    <%- include("header.ejs") %>

    <%- include("settings.ejs") %>

    <% if(onindex !== 'index') {%>
    <p style=" width: 100%; text-align: center; margin: 50px auto; font-size: 30px;" id="nouser"></p>
    <% } %>

    <%- include("footer.ejs") %>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./js/ajax-param.js"></script>
    <script src="./js/service.js"></script>
    <script src="./js/view.js"></script>
    <script src="./js/controller.js"></script>

 

</body>

