<!DOCTYPE HTML>
<html lang="en">
<head>
    <%- include("./parts/head.ejs") %>
</head>
<body>
        
    <%- include("./parts/header.ejs") %>
    <%- include("./parts/settings.ejs") %>
    
    <% if((onindex !== 'resume') 
    && (onindex !== 'deleteuser') 
    && (onindex !== 'recover') 
    && (onindex !== 'verifyuser') 
    && (onindex !== 'err_autoriz') 
    && (onindex !== 'friendsreq') 
    && (onindex !== 'friendsproof') 
    && (onindex !== 'friends') 
    && (onindex !== 'verify') 
    && (onindex !== 'index') 
    && (onindex !== 'aboutus') 
    && (onindex !== 'news') 
    && ((permissEdit === 'false') || (permissEdit === 'true'))  && (userid === '')) {%>
    <p style=" width: 100%; text-align: center; margin: 50px auto; font-size: 30px;" id="nouser"></p>
    <div class="emodgeee">
        <img src="img/smile.png" alt="EMODG">
    </div>
    <% } %>

    <% if((onindex !== 'resume') 
    && (onindex !== 'deleteuser') 
    && (onindex !== 'recover') 
    && (onindex !== 'verifyuser') 
    && (onindex !== 'err_autoriz') 
    && (onindex !== 'friendsreq') 
    && (onindex !== 'friendsproof') 
    && (onindex !== 'friends') 
    && (onindex !== 'verify') 
    && (onindex !== 'index') 
    && (onindex !== 'aboutus') 
    && (onindex !== 'news') 
    && (permissEdit === 'true') 
    && (activee !== 'active') 
    && (userid !== '')) {%>
    <div style="max-width: 700px; margin: 80px auto 0px auto; text-align:center; font-weight: bold; font-size: 14px; padding: 0px 40px;">
        <p id="verify-mess"></p>
        <p id="verify-mess-repeat"></p>
        <div style="height: 150px; width: 100%;">
            <p id="mess-after-send" style="font-size: 0px; color: var(--main-color); height: 30px; transition:1s; margin: 0px;"></p>
            <img src="img/mail.png" alt="MAIL" style="width: 60px; margin:10px auto; cursor:pointer; transition: 1s;" id="send-email" onclick="SE.send({}, '/sendemail', VW.animationAfterSend), VW.animationAfterSendSpiner()">
            <div style="width: 30px; margin:1px auto;" id="email-spinet"></div>
        </div>
    </div>  
    <% } %>

    <% if(onindex === 'aboutus') {%>
        <%- include("./parts/aboutus.ejs") %>
    <% } %>

    <% if(onindex === 'news') {%>
        <%- include("./parts/news.ejs") %>
    <% } %>

    <% if(onindex === 'verify') {%>
        <div style="width: 130px; text-align: center; margin:50px auto 0px auto;">
            <i class='fas fa-spinner fa-spin' style="color: #5a5a5a; font-size: 55px;"></i>
            <p>verify email...</p>
        </div>
        <script>
            setTimeout(() => {
                SE.send({}, '/verifyuser', VW.redirectAfterVerify);    
            }, 1000);
        </script>
    <% } %>

    <% if(onindex === 'verifyuser') {%>
        <div style="width: 130px; text-align: center; margin:50px auto 50px auto;">
            <i class='fas fa-spinner fa-spin' style="color: #5a5a5a; font-size: 55px;"></i>
        </div>
    <% } %>

    <% if(onindex === 'resume') {%>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
        <div class="resume-body">
            <div class="resume-prwiew-wrap">
                <div class="resume-prwiew-blok"></div>
                <div class="resume-prwiew-blok"></div>
                <div class="resume-prwiew-blok"></div>
                <div class="resume-prwiew-blok"></div>
            </div>
            <div class="resume-show-wrap">
            
            </div>
            <a onclick="VW.demoFromHTML()" class="del-button" id="footer-copyright-link-resume">Run Code</a>  
        </div>
    <% } %>

    <% if(onindex === 'err_autoriz') {%>
        <div style="max-width: 900px; text-align: center; font-weight: bold; margin:50px auto 70px auto; padding: 5px 30px;" id="recover-data">
            <% if(errautoriz === 'err_autoriz_email') {%>
                <p id="autoriz-email"> </p>
                <p id="autoriz-email-send"> </p><br><br>
                <div class="autoriz-email-send-input-wrap">
                    <input type="email" maxlength="64" id="autoriz-email-send-input" class="autoriz-email-send-input">
                    <div style="width:40px;">
                        <i class='far fa-paper-plane farrrrr' id="farrrrr" onclick='SE.send({"email":`${document.getElementById("autoriz-email-send-input").value}`}, "/recoverdata", VW.afterRecoverData)'></i>
                    </div>
                </div>
            <% } %>
            <% if(errautoriz === 'err_autoriz_login') {%>
                <p id="autoriz-email"> </p>
                <p id="autoriz-email-send"> </p><br><br>
                <div class="autoriz-email-send-input-wrap">
                    <input type="email" maxlength="64" id="autoriz-email-send-input" class="autoriz-email-send-input">
                    <div style="width:40px;">
                        <i class='far fa-paper-plane farrrrr' id="farrrrr" onclick='SE.send({"email":`${document.getElementById("autoriz-email-send-input").value}`}, "/recoverdata", VW.afterRecoverData)'></i>
                    </div>
                </div>
            <% } %>
            <% if(errautoriz === 'err_autoriz_server') {%>
                <p id="autoriz-server"> </p>
            <% } %>
        </div>
    <% } %>

    <% if(onindex === 'recover') {%>
        <div style="max-width: 900px; text-align: center; font-weight: bold; margin:50px auto 70px auto; padding: 5px 30px;" id="recover-data">
            <% if(permissAccess === 'false') {%>                
                <p id="autoriz-email-send"> </p><br>
                <div class="autoriz-email-send-input-wrap">
                    <input type="email" maxlength="64" id="autoriz-email-send-input" class="autoriz-email-send-input">
                    <div style="width:40px;">
                        <i class='far fa-paper-plane farrrrr' id="farrrrr" onclick='SE.send({"email":`${document.getElementById("autoriz-email-send-input").value}`}, "/recoverdata", VW.afterRecoverData)'></i>
                    </div>
                </div>
            <% } %>
            <% if(permissAccess === 'true') {%>                
                <p id="autoriz-email-send-true"></p><br>
            <% } %>
        </div>
    <% } %>

    <% if(onindex === 'deleteuser') {%>
        <div style="max-width: 900px; text-align: center; font-weight: bold; margin:90px auto 70px auto; padding: 5px 30px;" id="recover-data">
            <% if(permissAccess === 'true') {%> 
                <p id="del-timer" class="del-timer"></p>
                <div id="del-blok-wrap">               
                    <p id="del-title"></p>
                    <div class="del-button" onclick='VW.animationBeforeDel()'>
                        <p id="del-to-friend"></p>
                    </div>
                    <p class="del-mess"  id="login-message" style="display: none;"></p>                    
                </div>
            <% } %>
            <% if(permissAccess === 'false') {%> 
                <p id="del-title-eps"></p>
            <% } %>
        </div>
        <script>
            let timerdel;
        </script>
    <% } %>

    <% if(onindex === 'friends') {%>
        <div class="wrap-all-friends" >
            <div class="friends-all-title">
                <a id="friends-name-title-href" style="text-decoration-line:none; "><p class="friends-name-title" id="friends-name-title"></p></a>
                <p id="widget-friends-t" class="friends-text-title"></p>
            </div>
            <div class="friends-all-body" id="show-all-user-friends">
            </div>
            <div class="friends-show-more-wrap" id="friends-show-more-wrap">                
            </div>
        </div>
    <% } %>
    
    <% if((onindex === 'friendsproof') && (permissEdit === 'true')) {%>
        <div class="wrap-all-friends" >
            <div class="friends-all-title">
                <a id="friends-name-title-href" style="text-decoration-line:none; "><p class="friends-name-title" id="friends-name-title"></p></a>
                <p id="widget-friends-proof" class="friends-text-title"></p>
            </div>
            <div class="friends-all-body" id="show-all-user-friends">
            </div>
            <div class="friends-show-more-wrap" id="friends-show-more-wrap">
                
            </div>
        </div>
    <% } %>

    <% if((onindex === 'friendsreq') && (permissEdit === 'true')) {%>
        <div class="wrap-all-friends" >
            <div class="friends-all-title">
                <a id="friends-name-title-href" style="text-decoration-line:none; "><p class="friends-name-title" id="friends-name-title"></p></a>
                <p id="widget-friends-req" class="friends-text-title"></p>
            </div>
            <div class="friends-all-body" id="show-all-user-friends">
            </div>
            <div class="friends-show-more-wrap" id="friends-show-more-wrap">
                
            </div>
        </div>
    <% } %>

    <div class="footer-main-info" style="background: transparent; border-top: 2px solid transparent; box-shadow: 0px -2px 3px transparent;">
        <%- include("./parts/footer.ejs") %>
    </div>


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./js/checkinputs.js"></script>
    <script src="./js/message.js"></script>
    <script src="./js/friends.js"></script>
    <script src="./js/service.js"></script>
    <script src="./js/view.js"></script>
    <script src="./js/controller-main.js"></script>

    <% if(onindex === 'err_autoriz') {%>
        <% if(errautoriz === 'err_autoriz_email') {%>
            <script>
                SE.$("autoriz-email-send-input").addEventListener("change", () => {CHECK.checkCut("autoriz-email-send-input", "[^a-zA-Z0-9@-_.]")});
                SE.$("autoriz-email-send-input").addEventListener("input", () => {CHECK.checkTest("autoriz-email-send-input", "^[a-zA-Z0-9@-_.]+$")}); 
            </script>
        <% } %>
    <% } %>

    <% if(onindex === 'recover') {%>
        <% if(permissAccess === 'false') {%>                
            <script>
                SE.$("autoriz-email-send-input").addEventListener("change", () => {CHECK.checkCut("autoriz-email-send-input", "[^a-zA-Z0-9@-_.]")});
                SE.$("autoriz-email-send-input").addEventListener("input", () => {CHECK.checkTest("autoriz-email-send-input", "^[a-zA-Z0-9@-_.]+$")}); 
            </script>
        <% } %>
    <% } %>

    <% if(setsettings === 'true') {%>
        <script>
            localStorage.kalcifermaincolor = '<%=maincolor %>';
            localStorage.kalcifersecondcolor = '<%=secondcolor %>';
            localStorage.kalciferbgcolor = '<%=bgcolor %>';
            localStorage.kalcifertopleft = '<%=topleft %>';
            localStorage.kalcifertopright = '<%=topright %>';
            localStorage.kalciferbottomleft = '<%=bottomleft %>';
            localStorage.kalciferbottomright = '<%=bottomright %>';
            localStorage.kalciferfont = '<%=font %>';
            localStorage.kalciferLang = '<%=lang %>';
            setTimeout(() => {
                SE.redirect(`<%=permissUserid %>`);
            }, 500);
        </script>
    <% } %>

    <% if(onindex === 'friends') {%>
        <script>
            let x = /\?friends\=/g;
            let clearurl = window.location.search.replace(x, '');
            SE.send({"type":"friend", "limit":6, "step":'', "userurl":clearurl}, '/showfriends', WFRIENDS.showAllFriendsListFull);
        </script>
    <% } %>

    <% if(onindex === 'friendsproof') {%>
        <script>
            let x = /\?friends\=/g;
            let clearurl = window.location.search.replace(x, '');
            SE.send({"type":"reqfrom", "limit":200, "step":'', "userurl":clearurl}, '/showfriends', WFRIENDS.showAllFriendsListFull);
        </script>
    <% } %>
    <% if(onindex === 'friendsreq') {%>
        <script>
            let x = /\?friends\=/g;
            let clearurl = window.location.search.replace(x, '');
            SE.send({"type":"reqto", "limit":200, "step":'', "userurl":clearurl}, '/showfriends', WFRIENDS.showAllFriendsListFull);
        </script>
    <% } %>


 

</body>

