<!DOCTYPE HTML>
<html lang="en">
<head>
    <%- include("./parts/head.ejs") %>
</head>
<body>
<!--------HEADER--------->
    <%- include("./parts/header.ejs") %>
<!-------SETTINGS-------->    
    <%- include("./parts/settings.ejs") %>
<!-------NOT FIND-------->
    <% if((onindex !== 'index') && (onindex !== 'aboutus') && (onindex !== 'news') && (activee == 'active')) {%>
    <p style=" width: 100%; text-align: center; margin: 50px auto; font-size: 30px;" id="nouser"></p>
    <div class="emodgeee">
        <img src="img/smile.png" alt="EMODG">
    </div>
    <% } %>

    <% if((onindex !== 'index') && (onindex !== 'aboutus') && (onindex !== 'news') && (activee != 'active')) {%>
    <div style="max-width: 700px; margin: 100px auto 50px auto; text-align:center; font-weight: bold; font-size: 14px; padding: 0px 40px;">
        <p id="verify-mess"></p>
        <p id="verify-mess-repeat"></p>
        <img src="img/mail.png" alt="MAIL" style="width: 60px; margin:10px auto; cursor:pointer; transition: 1s;" id="send-email" onclick="SE.send({}, '/sendemail', VW.animationAfterSend)">
    </div>    

    <% } %>
<!--------ABOUTUS---------> 
    <% if(onindex === 'aboutus') {%>
        <%- include("./parts/aboutus.ejs") %>
    <% } %>
<!----------NEW----------->
    <% if(onindex === 'news') {%>
        <%- include("./parts/news.ejs") %>
    <% } %>
<!--------FOOTER--------->
    <div class="footer-main-info" style="background: transparent; border-top: 2px solid transparent; box-shadow: 0px -2px 3px transparent;">
        <%- include("./parts/footer.ejs") %>
    </div>


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./js/service.js"></script>
    <script src="./js/view.js"></script>
    <script src="./js/controller.js"></script>

 

</body>

