<!DOCTYPE HTML>
<html lang="en">
<head>
    <%- include("./parts/head.ejs") %>
</head>
<body>
<!--------HEADER--------->
    <%- include("./parts/header.ejs") %>
<!-------SETTINGS-------->    
    <%- include("./parts/settings.ejs") %>
<!-------NOT FIND-------->
    <% if((onindex !== 'verify') && (onindex !== 'index') && (onindex !== 'aboutus') && (onindex !== 'news') && ((permissEdit === 'false') || (permissEdit === 'true'))  && (userid === '')) {%>
    <p style=" width: 100%; text-align: center; margin: 50px auto; font-size: 30px;" id="nouser"></p>
    <div class="emodgeee">
        <img src="img/smile.png" alt="EMODG">
    </div>
    <% } %>

    <% if((onindex !== 'verify') && (onindex !== 'index') && (onindex !== 'aboutus') && (onindex !== 'news') && (permissEdit === 'true') && (activee !== 'active') && (userid !== '')) {%>
    <div style="max-width: 700px; margin: 80px auto 0px auto; text-align:center; font-weight: bold; font-size: 14px; padding: 0px 40px;">
        <p id="verify-mess"></p>
        <p id="verify-mess-repeat"></p>
        <div style="height: 150px; width: 100%;">
            <p id="mess-after-send" style="font-size: 0px; color: var(--main-color); height: 30px; transition:1s; margin: 0px;"></p>
            <img src="img/mail.png" alt="MAIL" style="width: 60px; margin:10px auto; cursor:pointer; transition: 1s;" id="send-email" onclick="SE.send({}, '/sendemail', VW.animationAfterSend), VW.animationAfterSendSpiner()">
            <div style="width: 30px; margin:1px auto;" id="email-spinet"></div>
        </div>
    </div>    

    <% } %>
<!--------ABOUTUS---------> 
    <% if(onindex === 'aboutus') {%>
        <%- include("./parts/aboutus.ejs") %>
    <% } %>
<!----------NEW----------->
    <% if(onindex === 'news') {%>
        <%- include("./parts/news.ejs") %>
    <% } %>
<!----------VERIFY----------->
    <% if(onindex === 'verify') {%>
        <div style="width: 130px; text-align: center; margin:50px auto 0px auto;">
            <i class='fas fa-spinner fa-spin' style="color: #5a5a5a; font-size: 55px;"></i>
            <p>verify email...</p>
        </div>
        <script>
            setTimeout(() => {
                SE.send({}, '/verifyuser', VW.redirectAfterVerify);    
            }, 1000);
        </script>
    <% } %>
<!--------FOOTER--------->
    <div class="footer-main-info" style="background: transparent; border-top: 2px solid transparent; box-shadow: 0px -2px 3px transparent;">
        <%- include("./parts/footer.ejs") %>
    </div>


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./js/service.js"></script>
    <script src="./js/view.js"></script>
    <script src="./js/controller.js"></script>

 

</body>

