<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="./css/style.css">
        <link rel="stylesheet" type="text/css" href="./css/formstyle.css">
            <!--Link stylesheet for icon-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
            <!--Link google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Marck+Script" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">   
        <link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Bad+Script" rel="stylesheet">
        <title>6b 61 6c 63 69 66 65 72</title>
    </head>    
    
    <body style="background: hsl(0, 0%, 100%); font-family: 'PT Sans', sans-serif;">
        <div class="form_body_wrap">
            <img src="./img/logo.png" class="logo-form">
        <!--BUTTON TO BACK-->
            <a href="/<%=userid %>" style="color: #111111;"><p id="form_toback" class="form_toback"></p></a>
        <!--UPDATE FORM-->
            <div class="form_wrap">
                <div class="tabs-form-head-wrap">
                    <p class="tabs-form-head-tab" id="tab-form-head-one"></p>
                    <p class="tabs-form-head-tab" id="tab-form-head-two"></p>
                    <p class="tabs-form-head-tab" id="tab-form-head-three"></p>
                </div>
                <div class="tabs-form-body-wrap">


                    <div class="tabs-form-body-one">
                        <!--login-->
                        <div class="form_blok required-block">
                            <div class="form_label"><p id="reg-label-login"></p></div>
                            <div class="form_input required">
                                <input type="text" name="reg-login" id="reg-login" maxlength="20">
                            </div>
                            <div class="form_message"><span id="reg-login-mess" class="reg-message "></span></div>                    
                        </div>
                        <!--password-->
                        <div class="form_blok required-block">
                            <div class="form_label password">
                                <p id="reg-label-password"></p>
                                <p id="reg-label-password-two"></p>
                            </div>
                            <div class="form_input password required">
                                <input type="password" name="reg-password" id="reg-password" maxlength="40">
                                <i class='far password_eye' onclick="VW.showPassword()">&#xf06e;</i>
                                <input type="password" name="reg-password-two" id="reg-password-two" maxlength="40">
                                <i class="far password_eye2" onclick="VW.showPassword()">&#xf06e;</i>
                            </div>
                            <div class="form_message password"><span id="reg-password-mess" class="reg-message "></span></div>                    
                        </div>
                    </div>


                    <div class="tabs-form-body-two">
                    <!--name-->
                    <div class="form_blok required-block">
                            <div class="form_label"><p id="reg-label-name"></p></div>
                            <div class="form_input required">
                                <input type="text" name="reg-name" id="reg-name" maxlength="20" value="<%=name %>">
                            </div>
                            <div class="form_message"><span id="reg-name-mess" class="reg-message "></span></div>                    
                        </div>
                        <!--surname-->
                        <div class="form_blok required-block">
                            <div class="form_label"><p id="reg-label-surname"></p></div>
                            <div class="form_input required">
                                <input type="text" name="reg-surname"  id="reg-surname" maxlength="20" value="<%=surname %>">
                            </div>
                            <div class="form_message"><p id="reg-surname-mess" class="reg-message "></p></div>   
                        </div>
                        <!--email-->
                        <div class="form_blok required-block">
                            <div class="form_label"><p id="reg-label-email"></p></div>
                            <div class="form_input required">
                                <input type="email" name="reg-email"  id="reg-email" maxlength="30"  value="<%=email %>">
                            </div>
                            <div class="form_message"><p id="reg-email-mess" class="reg-message "></p></div>   
                        </div>                
                        <!--birthday-->
                        <div class="form_blok">
                            <div class="form_label"><p id="reg-label-age"></p></div>
                            <div class="form_input">
                                <input type="date" name="reg-age"  id="reg-age"  value="<%=birthday %>">
                            </div>
                            <div class="form_message"><p id="reg-age-mess" class="reg-message"></p></div>  
                        </div>
                        <!--phone-->
                        <div class="form_blok">
                            <div class="form_label"><p id="reg-label-tel"></p></div>
                            <div class="form_input">
                                <div class="tel_blok">
                                    <select type="select" name="reg-tel_cod"  id="reg-tel_cod" class="tel_cod">
                                        <option value="+38" >+38</option>
                                        <option value="+44" >+44</option>
                                    </select>
                                    <input type="tel" name="reg-tel"  id="reg-tel" class="tel_nomer" maxlength="10"  value="<%=phone %>">
                                </div>                        
                            </div>
                            <div class="form_message"><p id="reg-tel-mess" class="reg-message"></p></div> 
                            <div class="icon_share">
                                <i class='fas' onclick="SE.clonePhoneNumber()">&#xf24d;</i>
                            </div>
                        </div>
                        <!--message-->
                        <div class="form_blok">
                            <div class="form_label"><p id="reg-label-message"></p></div>
                            <div class="form_input">
                                <div class="tel_blok">
                                    <select type="select" name="reg-message_cod"  id="reg-message_cod" class="tel_cod">
                                        <option value="+38">+38</option>
                                        <option value="+44">+44</option>
                                    </select>
                                    <input type="tel" name="reg-message"  id="reg-message" class="tel_nomer" maxlength="10" value="<%=message %>">
                                </div>
                            </div>
                            <div class="form_message"><p id="reg-message-mess" class="reg-message"></p></div>   
                        </div>
                    </div>


                    <div class="tabs-form-body-three">
                        <!--country-->
                        <div class="form_blok">
                                <div class="form_label"><p id="reg-label-country"></p></div>
                                <div class="form_input">
                                    <select name="reg-country" id="reg-country">
                                        <option disabled selected value id="select_empty"></option>
                                        <option value="ukraine" id="ukraine"></option>
                                        <option value="russian" id="russian"></option>
                                        <option value="greatbritain" id="greatbritain"></option>
                                        <option value="usa" id="usa"></option>
                                    </select>
                                </div>
                                <div class="form_message"><p id="reg-country-mess" class="reg-message"></p></div>  
                            </div>
                            <!--town-->
                            <div class="form_blok">
                                <div class="form_label"><p id="reg-label-town"></p></div>
                                <div class="form_input">
                                    <select name="reg-town" id="reg-town">
                                    </select>
                                </div>
                                <div class="form_message"><p id="reg-town-mess" class="reg-message"></p></div>   
                            </div>
                            <!--profession-->
                            <div class="form_blok">
                                <div class="form_label"><p id="reg-label-profession"></p></div>
                                <div class="form_input">
                                    <input type="text" name="reg-profession"  id="reg-profession" maxlength="30" value="<%=profession %>">
                                </div>
                                <div class="form_message"><p id="reg-profession-mess" class="reg-message"></p></div>   
                            </div> 
                    </div>
                </div>



               
                <!--send-->             
                <div class="form_blok_send">
                    <div class="form_label"><p id="reg-form-send" param="up" class="reg-form-send" style="color:#ffffff;"></p></div>
                 </div>               
                <!--main message form-->
                <p class="main-form-message" id="main-form-message"></p>
            </div>
        </div>

    <!--SETTINGS-->
    <div class="set_close" id="set"> 
            <div class="setting_close" style="background:#44709c;" id="setting" onclick="VW.openSetting()">
                <i class="fa fa-gear fa-spin"></i>
            </div>
            <div class="set_wrap" id="set-wrap">
                <div class="set_blok_lang" style="border:0px solid" >
                    <div class="lang_en" id="lang_en" onclick='VW.changLang("en");'>
                        <img src="img/en.png" alt="EN">
                        <p>ENGLISH</p>
                    </div>
                    <div  class="lang_ua" id="lang_ua" onclick='VW.changLang("ua");'>
                        <img src="img/ua.png" alt="UA">
                        <p>УКРАЇНСЬКА</p>
                    </div>
                </div>                    
            </div>                   
        </div>   
        
<!--FOOTER-->
    <div class="footer-main-info" style="margin-top: -120px; background: transparent; border-top: 2px solid transparent; box-shadow: 0px -2px 3px transparent;">
        <%- include("./parts/footer.ejs") %>
    </div>


        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>        
        <script src="./js/towns.js"></script>
        <script src="./js/clear.js"></script>
        <script src="./js/proto.js"></script>
        <script src="./js/service.js"></script>
        <script src="./js/view.js"></script>
        <script src="./js/update.js"></script>
        <script>        
            SE.$('reg-country').value = "<%=country %>"
            SE.$('reg-tel_cod').value = "<%=phonecod %>"
            SE.$('reg-message_cod').value = "<%=messagecod %>"
            let getTownId = SE.$('reg-town');
            let getSelectedCountry = SE.$('reg-country').value;
            getTownId.innerHTML = `<option disabled selected></option>`;
            if (localStorage.kalciferLang === "ua"){
                for (let i = 0; i < towns_ua[getSelectedCountry].length; i++){
                    let translitID = SE.rus_to_latin(towns_ua[getSelectedCountry][i])
                    getTownId.innerHTML += `<option value="${translitID}" id="${translitID}">${towns_ua[getSelectedCountry][i]}</option>`;
                }
            } else if (localStorage.kalciferLang === "en"){
                for (let i = 0; i < towns_en[getSelectedCountry].length; i++){
                    let translitID = SE.rus_to_latin(towns_en[getSelectedCountry][i])
                    getTownId.innerHTML += `<option value="${translitID}" id="${translitID}">${towns_en[getSelectedCountry][i]}</option>`;
                }
            }        
            SE.$('reg-town').value = "<%=town %>"  
        </script>
    </body>
    </html>