<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="./css/style.css">
        <link rel="stylesheet" type="text/css" href="./css/formstyle.css">
            <!--Link stylesheet for icon-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
            <!--Link google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Marck+Script" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">   
        <link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Bad+Script" rel="stylesheet">
        <title>6b 61 6c 63 69 66 65 72</title>
    </head>    
    
    <body style="background: hsl(0, 0%, 100%); font-family: 'PT Sans', sans-serif;">
        <div class="form_body_wrap" style="background: transparent;">
            <a href="/<%=userid %>" ><img src="./img/logo.png" class="logo-form"></a>
        <!--BUTTON TO BACK-->
            <a href="/<%=userid %>" style="color: #111111;"><p id="form_toback" class="form_toback"></p></a>
        <!--UPDATE FORM-->
            <p id="reg-form-send" param="up" class="reg-form-send" style="display: none;"></p>
            <div class="form_wrap" style="border: 7px solid transparent; border-radius: 30px 30px;">
                <div class="tabs-form-head-wrap">
                    <p class="tabs-form-head-tab tab-active" id="tab-1" onclick="VW.clickTabs(this)"></p>
                    <p class="tabs-form-head-tab" id="tab-2" onclick="VW.clickTabs(this)"></p>
                    <p class="tabs-form-head-tab" id="tab-3" onclick="VW.clickTabs(this)"></p>
                    <p class="tabs-form-head-tab" id="tab-4" onclick="VW.clickTabs(this)"></p>
                </div>
                <div class="tabs-form-body-wrap">
                <!----SECURITY AND ENTER----------------------------------------------->
                    <div class="tabs-form-body-one" id="tabs-body-1" style="display: table;">
                        <% if(regtype !== 'facebook') {%>
                        <!--login-->
                        <div class="form_blok required-block">
                            <div class="form_label"><p id="reg-label-login"></p></div>
                            <div class="form_input required">
                                <input type="text" name="reg-login" id="reg-login-up" maxlength="20">
                            </div>
                            <div class="form_message"><span id="reg-login-up-mess" class="reg-message "></span></div>                    
                        </div>
                        <!--old password-->
                        <div class="form_blok required-block">
                            <div class="form_label"><p id="reg-label-oldpassword"></p></div>
                            <div class="form_input required">
                                <input type="password" name="reg-oldpassword" id="reg-oldpassword" maxlength="20">
                                <i class='far password_oldpassword' onclick="VW.showPassword()">&#xf06e;</i>
                            </div>
                            <div class="form_message"><span id="reg-oldpassword-mess" class="reg-message "></span></div>                    
                        </div>
                        <!--password-->
                        <div class="form_blok required-block">
                            <div class="form_label password">
                                <p id="reg-label-password"></p>
                                <p id="reg-label-password-two"></p>
                            </div>
                            <div class="form_input password required">
                                <input type="password" name="reg-password" id="reg-password" maxlength="40">
                                <i class='far password_eye' onclick="VW.showPassword()">&#xf06e;</i>
                                <input type="password" name="reg-password-two" id="reg-password-two" maxlength="40">
                                <i class="far password_eye2" onclick="VW.showPassword()">&#xf06e;</i>
                            </div>
                            <div class="form_message password"><span id="reg-password-mess" class="reg-message "></span></div>                    
                        </div>
                        <!--send-->             
                        <div class="form_blok_send">
                            <div class="form_label" onclick="SE.updateUser('s')"><p id="reg-up-send1" param="up" class="reg-form-send reg_send_active" style="color:#ffffff;"></p></div>
                        </div>               
                        <!--main message form-->
                        <p class="main-form-message" id="main-form-messageone"></p>
                        <% } %>
                    </div>

                <!----MAIN_INFO--------------------------------------------------->
                    <div class="tabs-form-body-one" id="tabs-body-2">
                        <!--name-->
                        <div class="form_blok required-block">
                            <div class="form_label"><p id="reg-label-name"></p></div>
                            <div class="form_input required">
                                <input type="text" name="reg-name" id="reg-name" maxlength="20" value="<%=name %>">
                            </div>
                            <div class="form_message"><span id="reg-name-mess" class="reg-message "></span></div>                    
                        </div>
                        <!--surname-->
                        <div class="form_blok required-block">
                            <div class="form_label"><p id="reg-label-surname"></p></div>
                            <div class="form_input required">
                                <input type="text" name="reg-surname"  id="reg-surname" maxlength="20" value="<%=surname %>">
                            </div>
                            <div class="form_message"><p id="reg-surname-mess" class="reg-message "></p></div>   
                        </div>
                        <% if(regtype !== 'facebook') {%>
                        <!--email-->
                        <div class="form_blok required-block">
                            <div class="form_label"><p id="reg-label-email"></p></div>
                            <div class="form_input required">
                                <input type="email" name="reg-email"  id="reg-email" maxlength="30"  value="<%=email %>">
                            </div>
                            <div class="form_message"><p id="reg-email-mess" class="reg-message "></p></div>   
                        </div>    
                        <% } %>            
                        <!--birthday-->
                        <div class="form_blok">
                            <div class="form_label"><p id="reg-label-age"></p></div>
                            <div class="form_input">
                                <input type="date" name="reg-age"  id="reg-age"  value="<%=birthday %>">
                            </div>
                            <div class="form_message"><p id="reg-age-mess" class="reg-message"></p></div>  
                        </div>
                        <!--phone-->
                        <div class="form_blok">
                            <div class="form_label"><p id="reg-label-tel"></p></div>
                            <div class="form_input">
                                <div class="tel_blok">
                                    <select type="select" name="reg-tel_cod"  id="reg-tel_cod" class="tel_cod">
                                        <option value="+38" >+38</option>
                                        <option value="+44" >+44</option>
                                    </select>
                                    <input type="tel" name="reg-tel"  id="reg-tel" class="tel_nomer" maxlength="10"  value="<%=phone %>">
                                </div>                        
                            </div>
                            <div class="form_message"><p id="reg-tel-mess" class="reg-message"></p></div> 
                            <div class="icon_share">
                                <i class='fas' onclick="SE.clonePhoneNumber()">&#xf24d;</i>
                            </div>
                        </div>
                        <!--message-->
                        <div class="form_blok">
                            <div class="form_label"><p id="reg-label-message"></p></div>
                            <div class="form_input">
                                <div class="tel_blok">
                                    <select type="select" name="reg-message_cod"  id="reg-message_cod" class="tel_cod">
                                        <option value="+38">+38</option>
                                        <option value="+44">+44</option>
                                    </select>
                                    <input type="tel" name="reg-message"  id="reg-message" class="tel_nomer" maxlength="10" value="<%=message %>">
                                </div>
                            </div>
                            <div class="form_message"><p id="reg-message-mess" class="reg-message"></p></div>   
                        </div>
                        <!--send-->             
                        <div class="form_blok_send">
                            <div class="form_label" onclick="SE.updateUser('m')"><p id="reg-up-send2" param="up" class="reg-form-send reg_send_active" style="color:#ffffff;"></p></div>
                        </div>               
                        <!--main message form-->
                        <p class="main-form-message" id="main-form-messagetwo"></p>
                    </div>

                <!----OTHER------------------------------------------------------>
                    <div class="tabs-form-body-one" id="tabs-body-3">
                        <!--country-->
                        <div class="form_blok">
                            <div class="form_label"><p id="reg-label-country"></p></div>
                            <div class="form_input">
                                <select name="reg-country" id="reg-country">
                                    <option value="" id="" disabled></option>
                                    <option value="ukraine" id="ukraine"></option>
                                    <option value="russian" id="russian"></option>
                                    <option value="greatbritain" id="greatbritain"></option>
                                    <option value="usa" id="usa"></option>
                                </select>
                            </div>
                            <div class="form_message"><p id="reg-country-mess" class="reg-message"></p></div>  
                        </div>
                        <!--town-->
                        <div class="form_blok">
                            <div class="form_label"><p id="reg-label-town"></p></div>
                            <div class="form_input">
                                <select name="reg-town" id="reg-town">
                                </select>
                            </div>
                            <div class="form_message"><p id="reg-town-mess" class="reg-message"></p></div>   
                        </div>
                        <!--profession-->
                        <div class="form_blok">
                            <div class="form_label"><p id="reg-label-profession"></p></div>
                            <div class="form_input">
                                <input type="text" name="reg-profession"  id="reg-profession" maxlength="90" value="<%=profession %>">
                            </div>
                            <div class="form_message"><p id="reg-profession-mess" class="reg-message"></p></div>   
                        </div> 
                        <!--education-->
                        <div class="form_blok">
                            <div class="form_label"><p id="reg-label-education"></p></div>
                            <div class="form_input">
                                <input type="text" name="reg-education"  id="reg-education" maxlength="90" value="<%=education %>">
                            </div>
                            <div class="form_message"><p id="reg-education-mess" class="reg-message"></p></div>   
                        </div> 
                        <!--send-->             
                        <div class="form_blok_send">
                            <div class="form_label" onclick="SE.updateUser('o')"><p id="reg-up-send3" param="up" class="reg-form-send reg_send_active" style="color:#ffffff;"></p></div>
                        </div>               
                        <!--main message form-->
                        <p class="main-form-message" id="main-form-messagethree"></p>                                
                    </div>

                <!----WIDGET------------------------------------------------------>
                    <div class="tabs-form-body-one" id="tabs-body-4">
                        <div class="set_blok set_blok_update" style="text-align: center;">
                            <p id="settings_v_side"></p>
                            <div class="height-blok-set" style="padding: 8px;">
                                <div class="widget-head">
                                    <div class="widget-head-wrap">
                                        <span class="widget-head-text widget-head-text-one" id="widget-all"></span>
                                        <span class="widget-head-text2" id="widget-me"></span>
                                    </div>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-blok">
                                        <span class="widget-chack widget-chack-last2" id="widget-skills2"></span>
                                        <span class="widget-chack widget-head-text-one">
                                            <input type="radio" name="vskillsall" id="vskillsall" onchange="VW.saveWidgets('vskillsall', 'vskillsalltop')" <% if(vskillsall === 'on') {%> checked <% } %>>
                                        </span>
                                        <span class="widget-chack">
                                            <input type="radio" name="vskillsme" id="vskillsme" onchange="VW.saveWidgets('vskillsme', 'vskillsmetop')" '<% if(vskillsme === 'on') {%> checked <% } %>>
                                        </span>
                                        <span class="widget-chack widget-chack-last" id="widget-skills"></span>
                                    </div>
                                    <div class="widget-blok">
                                        <span class="widget-chack widget-chack-last2" id="widget-project2"></span>
                                        <span class="widget-chack widget-head-text-one">
                                            <input type="radio" name="vprojectsall" id="vprojectsall" onchange="VW.saveWidgets('vprojectsall', 'vprojectsalltop')" <% if(vprojectsall === 'on') {%> checked <% } %>>
                                        </span>
                                        <span class="widget-chack">
                                            <input type="radio" name="vprojectsme" id="vprojectsme" onchange="VW.saveWidgets('vprojectsme', 'vprojectsmetop')" <% if(vprojectsme === 'on') {%> checked <% } %>>
                                        </span>
                                        <span class="widget-chack widget-chack-last" id="widget-project"></span>
                                    </div>
                                    <div class="widget-blok">
                                        <span class="widget-chack widget-chack-last2" id="widget-friend-t2"></span>
                                        <span class="widget-chack widget-head-text-one">
                                            <input type="checkbox" name="vfriendall" id="vfriendall" onchange="VW.saveWidgets('vfriendme', 'vfriendall')" <% if(vfriendall === 'on') {%> checked <% } %>>
                                        </span>
                                        <span class="widget-chack">
                                            <input type="checkbox" name="vfriendme" id="vfriendme" onchange="VW.saveWidgets('vfriendme', 'vfriendall')" <% if(vfriendme === 'on') {%> checked <% } %>>
                                        </span>
                                        <span class="widget-chack widget-chack-last" id="widget-friend-t"></span>
                                    </div>
                                </div>
                            </div>
                        </div>                                     
                        <div class="set_blok set_blok_update">
                            <p id="settings_t_side"></p>
                            <div class="height-blok-set" style="padding: 8px;">
                                <div class="widget-head">
                                    <div class="widget-head-wrap">
                                        <span class="widget-head-text widget-head-text-one" id="widget-all-t"></span>
                                        <span class="widget-head-text2" id="widget-me-t"></span>
                                    </div>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-blok">
                                        <span class="widget-chack widget-chack-last2" id="widget-skills-t2"></span>
                                        <span class="widget-chack widget-head-text-one">
                                            <input type="radio" name="vskillsall" id="vskillsalltop" onchange="VW.saveWidgets('vskillsalltop', 'vskillsall')" <% if(vskillsalltop === 'on') {%> checked <% } %>>
                                        </span>
                                        <span class="widget-chack">
                                            <input type="radio" name="vskillsme" id="vskillsmetop" onchange="VW.saveWidgets('vskillsmetop', 'vskillsme')" <% if(vskillsmetop === 'on') {%> checked <% } %>>
                                        </span>
                                        <span class="widget-chack widget-chack-last" id="widget-skills-t"></span>
                                    </div>
                                    <div class="widget-blok">
                                        <span class="widget-chack widget-chack-last2" id="widget-project-t2"></span>
                                        <span class="widget-chack widget-head-text-one">
                                            <input type="radio" name="vprojectsall" id="vprojectsalltop" onchange="VW.saveWidgets('vprojectsalltop', 'vprojectsall')" <% if(vprojectsalltop === 'on') {%> checked <% } %>>
                                        </span>
                                        <span class="widget-chack">
                                            <input type="radio" name="vprojectsme" id="vprojectsmetop" onchange="VW.saveWidgets('vprojectsmetop', 'vprojectsme')" <% if(vprojectsmetop === 'on') {%> checked <% } %>>
                                        </span>
                                        <span class="widget-chack widget-chack-last" id="widget-project-t"></span>
                                    </div>
                                    <div class="widget-blok">
                                        <span class="widget-chack widget-chack-last2" id="widget-blog-t2"></span>
                                        <span class="widget-chack widget-head-text-one">
                                            <input type="checkbox" name="vblogall" id="vblogall" onchange="VW.saveWidgets('vblogme', 'vblogall')" <% if(vblogall === 'on') {%> checked <% } %>>
                                        </span>
                                        <span class="widget-chack">
                                            <input type="checkbox" name="vblogme" id="vblogme" onchange="VW.saveWidgets('vblogme', 'vblogall')" <% if(vblogme === 'on') {%> checked <% } %>>
                                        </span>
                                        <span class="widget-chack widget-chack-last" id="widget-blog-t"></span>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <!--main message form-->
                        <p class="main-form-message" id="main-form-messagefour"></p>                       
                    </div>
                </div>
            </div>
        </div>

<!--SETTINGS-->
    <div class="set_close" id="set"> 
        <div class="setting_close" style="background:#44709c;" id="setting" onclick="VW.openSetting()">
            <i class="fa fa-gear fa-spin"></i>
        </div>
        <div class="set_wrap" id="set-wrap">
            <div class="set_blok_lang" style="border:0px solid" >
                <div class="lang_en" id="lang_en" onclick='VW.changLang("en");'>
                    <img src="img/en.png" alt="EN">
                    <p>ENGLISH</p>
                </div>
                <div  class="lang_ua" id="lang_ua" onclick='VW.changLang("ua");'>
                    <img src="img/ua.png" alt="UA">
                    <p>УКРАЇНСЬКА</p>
                </div>
            </div>                    
        </div>                   
    </div>   
        
<!--FOOTER-->
    <div class="footer-main-info" style=" background: transparent; border-top: 2px solid transparent; box-shadow: 0px -2px 3px transparent;">
        <%- include("./parts/footer.ejs") %>
    </div>


        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>        
        <script src="./js/towns.js"></script>
        <script src="./js/clear.js"></script>
        <script src="./js/proto.js"></script>
        <script src="./js/service.js"></script>
        <script src="./js/view.js"></script>
        <% if(regtype !== 'facebook') {%>
            <script src="./js/update.js"></script>
        <% } %>
        <% if(regtype === 'facebook') {%>
            <script src="./js/updateF.js"></script>
        <% } %>
        <script>        
            SE.$('reg-country').value = "<%=country %>"
            SE.$('reg-tel_cod').value = "<%=phonecod %>"
            SE.$('reg-message_cod').value = "<%=messagecod %>"
            let getTownId = SE.$('reg-town');
            let getSelectedCountry = SE.$('reg-country').value;
            getTownId.innerHTML = `<option disabled selected></option>`;
            if (localStorage.kalciferLang === "ua"){
                for (let i = 0; i < towns_ua[getSelectedCountry].length; i++){
                    let translitID = SE.rus_to_latin(towns_ua[getSelectedCountry][i])
                    getTownId.innerHTML += `<option value="${translitID}" id="${translitID}">${towns_ua[getSelectedCountry][i]}</option>`;
                }
            } else if (localStorage.kalciferLang === "en"){
                for (let i = 0; i < towns_en[getSelectedCountry].length; i++){
                    let translitID = SE.rus_to_latin(towns_en[getSelectedCountry][i])
                    getTownId.innerHTML += `<option value="${translitID}" id="${translitID}">${towns_en[getSelectedCountry][i]}</option>`;
                }
            }        
            SE.$('reg-town').value = "<%=town %>"  
        </script>
    </body>
    </html>