<div class="side_sub" id="sideinfo">
        <% if(permissEdit === 'true') {%>
            <!--preview ava-->
            <div class="ava-preview-wrap-main"  id="ava-preview-wrap-main">
                <div class="ava-preview-body-main">
                    <div class="ava-preview-foto-wrap-main">
                        <div class="ava-preview-foto" id="ava-preview-foto">
                            <input type="range" name="horizontally" id="horizontally" min="0" max="100" step="5" class="rande-hor-main" onchange="VW.rangeAvaFoto('h')">
                            <input type="range" name="vertical" id="vertical" min="0" max="100" step="5" class="rande-vert-main" onchange="VW.rangeAvaFoto('v')">
                        </div>
                    </div>
                </div>
                <div class="ava-preview-button-wrap">
                    <div class="ava-preview-button">
                        <div id="button-preview-form" class="button-preview-form" onclick="SE.confirmPreview('m')"></div>
                        <div id="button-preview-form-close" class="button-preview-form-close" onclick="SE.confirmPreviewClose('m')">
                            <i class='fas'>&#xf00d;</i>
                        </div>
                    </div>
                </div>                        
            </div>
        <% } %>
        <p id="ava-mess-main" style="margin:0px 0px 0px 0px; padding-bottom: 3px; font-size:12px; font-weight: bold; text-align:center; color:red;"></p>
        <div class="ava" id="ava" style="background-image: url('<%=ava %>'); background-position: <%=avasettings %>;">
            <% if(permissEdit === 'true') {%>
               <input type="file" name="reg-file" id="reg-file" value="reg-file" class="form_input_file_ava inp-file fas fa-camera input-ava" accept=".jpg,.jpeg,.png"> 
            <% } %>
        </div>
        <div class="info">
            <div class="info-blok-name" >
                <p id="surname" style="margin-right: 6px;"><%=surname %></p>                        
                <p id="name"><%=name %></p>
            </div>


            <% if(permissEdit === 'true') {%>                
                <i style='font-size:16px; float:right; cursor: pointer; margin: -5px 0px 7px 0px;' class='far' onclick="window.location.href = '/updateuser';">&#xf044;</i>
            <% } %>

                <!--message-->
            <% if(permissionidreq === 'reqfrom') {%>    
                <div class='add-to-friends-mess' id="mess-friend-wrap">
                </div>            
            <% } %>

                <!--message-->
            <% if((permissionFriend === 'true') && (permissionisFriend === 'false')) {%>    
                <div class='add-to-friends-mess' id="mess-friend-wrap">
                </div>            
            <% } %>

                <!--message-show-->
            <% if((permissionFriend === 'true') && (permissionisFriend === 'true') && (permissionidreq === 'friend')) {%>    
                <div class='add-to-friends-mess' id="mess-friend-wrap">
                    <div class="add-to-friends-wrap-mess" onclick="VW.inwork()"><i class='far fa-comments'><b style="font-size: 13px; padding: 2px 5px; position: absolute;" id="friend-mess"></b></i></div>
                </div>            
            <% } %>

                <!--add-->
            <% if((permissionFriend === 'true') && (permissionisFriend === 'false') && (permissionidreq === 'null')) {%>   
                <div class='add-to-friends' id="add-friend-wrap">  
                    <div class="add-to-friends-wrap"  onclick="SE.send({}, '/addtofriends', WFRIENDS.addToFriends)" ><i class='far fa-plus-square'><b style="font-size: 13px; padding: 2px 5px; position: absolute;" id="add-to-friend"></b></i></div>           
                </div>
            <% } %>

                <!--add-proof-->
            <% if((permissionFriend === 'true') && (permissionisFriend === 'true') && (permissionidreq === 'reqfrom')) {%>   
                <div class='add-to-friends' id="add-friend-wrap">  
                    <div class="add-to-friends-wrap"  onclick="WFRIENDS.confirmProof()" ><i class='far fa-plus-square' style="color:#ffa4a4;"><b style="font-size: 13px; padding: 2px 5px; position: absolute; color:#ffffff;" id="add-to-req"></b></i></div>           
                </div>
            <% } %>
            
                <!--del-->
            <% if((permissionFriend === 'true') && (permissionisFriend === 'true') && ((permissionidreq === 'friend') || (permissionidreq === 'reqto') || (permissionidreq === 'null'))) {%>   
                <div class='add-to-friends' id="add-friend-wrap">             
                    <div class="add-to-friends-wrap"  onclick="WFRIENDS.confirmDelFriend()" ><i class='far fa-minus-square'><b style="font-size: 13px; padding: 2px 5px; position: absolute;" id="del-to-friend"></b></i></div>
                </div>
            <% } %>

            <p id="mess-about-add-friend" style="margin: 0px; width:100%; color: red; text-align:center; font-size: 14px; font-weight: bold;"></p>
            <% if((country !== '') || (town !== '')) {%>
            <div class="info-blok">
                <i class="fas fa-map-marker-alt"></i>
                <div  class="info-blok-text"> 
                    <% if(country !== '') {%>   
                    <p id="country"><%=country %></p>
                    <% } %>
                    <% if(town !== '') {%>
                    <p id="town"><%=town %></p>
                    <% } %>
                </div>
            </div>
            <% } %>
            <% if((birthday !== '') && (birthday !== 'null')) {%>
            <div class="info-blok">
                <i class="fas fa-calendar-alt"></i>
                <div class="info-blok-text">
                    <p id="date"><%=birthday %></p>
                </div>
            </div>
            <% } %>
            <% if(email !== '') {%>
            <div class="info-blok">
                <i class="fas fa-at"></i>
                <div class="info-blok-text">
                    <p id="email"><%=email %></p>
                </div>
            </div>
            <% } %>
            <% if((phone !== '') && (phone !== 'null')) {%>
            <div class="info-blok">
                <i class="fas fa-phone-volume"></i>
                <div class="info-blok-text">
                    <p id="phone"><%=phone %></p>
                </div>
            </div>
            <% } %>
            <% if((message !== '') && (message !== 'null')) {%>
            <div class="info-blok">
                <i class="fas fa-comment"></i>
                <div class="info-blok-text">
                    <p id="massage"><%=message %></p>
                </div>
            </div>
            <% } %>
            <% if((profession !== '') && (profession !== 'null')) {%>
            <div class="info-blok">
                <i class="fas fa-laptop"></i>
                <div class="info-blok-text">
                    <p id="profession"><%=profession %></p>
                </div>
            </div>
            <% } %>
            <% if((education !== '') && (education !== 'null')) {%>
            <div class="info-blok">
                <i class="fas fa-graduation-cap"></i>
                <div class="info-blok-text">
                    <p id="education"><%=education %></p>
                </div>
            </div>
            <% } %>
        </div>
    </div>